{% extends 'layout.html.twig' %}

{% block body %}
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ asset('assets/css/elisyam-1.5.css') }}">
    <h1>Modifier Categorieproduit </h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('categorieproduit_index') }}">Consulter la liste des Categorieproduit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
