{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Categorieproduits list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomcategorie</th>
                <th>Typecategorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorieProduit in categorieProduits %}
            <tr>
                <td><a href="{{ path('categorieproduit_show', { 'id': categorieProduit.id }) }}">{{ categorieProduit.id }}</a></td>
                <td>{{ categorieProduit.nomCategorie }}</td>
                <td>{{ categorieProduit.typeCategorie }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categorieproduit_show', { 'id': categorieProduit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('categorieproduit_edit', { 'id': categorieProduit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorieproduit_new') }}">Create a new categorieProduit</a>
        </li>
    </ul>
{% endblock %}
